body {
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 200;
}

@media screen {
  body {
    padding: 0px;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 200px) {
  body {
    padding: 5px;
    font-size: 1.4em;
  }
}

@media screen and (min-width:400px) {
  body {
    padding: 20px;
    font-size: 1.3em;
  }
}

@media screen and (min-width:800px) {
  body {
    padding: 40px;
    font-size: 1.2em;
  }
}

.stats {
  font-weight: 400;
  padding: 20px;
}

.list {
  font-size: 16px;
}

.result {
  padding: 0.5em;
}

.favicon {
    width: 1em;
    height: 1em;
    padding-right: 1em;
    opacity: 0.7;
    vertical-align: middle;
}

.start {
  color: lightgrey;
}

.late {
  color: lightcoral;
}

.down {
  color: indianred;
}

.up {
  color: grey;
}
